@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* .main{
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  height:100%;
  width:100%;
}

.paperStyle {
  padding: 30px;
  height: 80vh;
  width: 30%;
  margin: 60px auto;
} */

/* Login */

/* .main2{
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  height:100%;
  width:100%;
}

.paperStyle2 {
  padding: 30px;
  height: 55vh;
  width: 30%;
  margin: 60px auto;
}

.paperStyle3 {
  padding: .5%;
  height: 65vh;
  width: 90%;
  margin: 30px auto;
}

.paperStyle4{
  padding: 1%;
  height: 80vh;
  width: 60%;
  margin: 5% auto;
}

.line {
  display: inline-block;
}
.beforeLine {
  margin-top:5%;
  font-size: 18px;
  text-align: center;
} */